.nav-bar {
  border: gray;
}


.homepage {
  background-image: image_url('main.jpeg');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
}
