.homepage {
  background-image: image_url('main_.jpeg.png');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
}

.homepage-text {
  position: absolute;
  text-align: center;
  width: 90%;
  top: 30%;
  left: 50%;
  margin-left: -43%;
  font-size: 70px;
  color: white;
  font-family: Proxima Nova,Arial,sans-serif;
}
