.main-nav {
    display: flex;
    height: 80px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
}

.nav-title {
    padding-top: 5px; 
    padding-left: 10px;
    color:gray;
    font-size: 30px;
    box-sizing: border-box;
    text-decoration: inherit;
    text-align: inherit;
    vertical-align: inherit;
    background: transparent;

}

.users-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.nav-site-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo-title {
    color:green;
    flex: 1;
    display: flex;
    // justify-content: center;
    align-items: center;
}
// .user-auth {
//     flex: 1;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }

.sign-up-button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
    background-color: #0096ff;
    color: white;
}
.sign-out-button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
    border: 2px solid #0096ff;
    color: #0096ff;
    background-color: white;
}

// .nav-logo-title {
//     image: image_url("logo.jpeg");
// }
.nav-link {
    display: flex;
}

.user-dropdown {
    display: none;
    position: absolute;
    margin-top: 140px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    border-radius: 8px;
    width: 180px;
    z-index: 1;
    color: Grey;
    align-items: right;

    button {
        display: block;
        padding: 15px 20px;
        width: 100%;
        cursor: pointer;
    }

    li:hover {
        background-color: Grey
    }

    li:first-child {
        margin-top: 16px;
    }

    li:last-child {
        margin-bottom: 16px;
    }
}

.profile-pic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: Grey;
    color: darkgrey;
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.dropdown-select {
    position: relative;
    cursor: pointer;
    display: flex; 
    align-items: center;
    padding: 8px;

    p {
        color: Grey;
    }
}


.dropdown-select:hover + .user-dropdown {
    cursor: pointer;
    display: block;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    border-radius: 8px;
    width: 180px;
    z-index: 3;

    button {
        display: block;
        padding: 15px 20px;
        width: 100%;
        cursor: pointer;
    }

}

