.main-nav {
    display: flex;
    height: 80px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
}

.nav-site-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign-up-button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
    background-color: #0096ff;
    color: white;
}
.sign-out-button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 8px;
    border: 2px solid #0096ff;
    color: #0096ff;
    background-color: white;
}

// .nav-logo-title {
//     image: image_url("logo.jpeg");
// }


