.session-form {
  width: 480px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
  background-color: white;
}

.sign-in-page {
  background-image: image_url('sign-in.jpeg');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
  color: black;
  text-align: center;
}

.sign-up-page {
  background-image: image_url('sign-up.jpeg');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
  color: black;
  text-align: center;
}

.session-form h2 {
  font-size: 22px;
  color: Grey;
  font-weight: 600;
  margin-top: 30px;
}

.session-form input {
  color: gray;
  font-size: 14px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
  border-width: 1in;
}

.session-form label {
  margin: 25px 0;
  padding: 15px;
  height: 50px;
}

  
