.session-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }

.sign-in-form {
  background-image: image_url('sign-in.jpeg');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
  color: black;
  text-align: center;
}
.sign-up-form {
  background-image: image_url('sign-up.jpeg');
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 800px;
  color: black;
  text-align: center;
}


form {
    height: 300px;
    width: 300px;
    background: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.button {
  padding: 10px;
  margin: 20px;
  }