footer {
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    height: 200px;
}



.fas-faCampground-fa-lg {
    color: green;
    // font-size: 60px;
}

.footer-content {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3vh;
    width: 70vw;
}

.footer-logo {
    // font: ;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", Arial, sans-serif;
    color: #808080;
    font-size: 40px;
    font-weight: 500;

    a {
        flex-direction: row;
        display: flex;
        align-items: baseline; 
    }
}

.links {
    a {
    padding: 15px;
    padding-bottom: 0;
    block-size: 60px;
    }
}

.svg-inline--fa {
    display: inline-block;
    font-size: 50px;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}