.trail-item {
    display: flex;
    height: 224px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 16px;
    margin-bottom: 24px;
}

.trail-item-content {
    overflow: hidden;
    text-overflow: ellipsis;

    p {
        font-family: "Work Sans", Helvetica, sans-serif;
        line-height: 1.44;
        color: #646255;
        font-weight: 375;
        font-size: 14px;
        margin: 5px 0; 
    }

    .difficulty-rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}

.trail-index { 
    padding-top: 20px;
    padding-bottom: 20px;
}