.park-page {
    padding: 0 15px;
    max-width: 1024px;
    margin: auto;
}

h1 {
    font-size: 32px;
    font-family: "Montserrat", Arial, sans-serif;
    color: #414141;
    font-weight: 600;
    margin: 16px 0 0;
    padding-bottom: 8px;
}

h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    color: #414141;
    font-weight: 600;
    padding-bottom: 8px;
}

.park-description {
    p {
        font-family: "Work Sans", Helvetica, sans-serif;
        color: gray;
        font-weight: 375;
        // max-width: 763px;
    }
}

.park-map {
    height: 200px;
    width: 200px;
}

.park-info {
    padding-bottom: 30px;
    border-bottom: gray;
}

.park-actions {
    display: flex;
    padding: 16px 0;
    position: relative;
    background-color: #F2F2F2;
}

.park-action{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    color: #468A13;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            background: inherit;
            border: none;
            outline: none;
        }

        svg {
            font-size: 1.5rem;
            padding: 18px;
            border-radius: 50%;
            box-shadow: 0 2px 4px 0;
            transform: scale(1);
            transition: transform 0.4s;
            background-color: white;
        }
}