.review-item { 
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
    margin: 0 24px;
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.44;
    color: #646255;
    font-weight: 375;
}

.review-pic-name {
    display: flex;
    flex-direction: row;
}

.profile-pic {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    color: #808080;
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.svg-inline--fa.fa-w-12 {
    width: 0.45em;
}

.reviewer-name{
    font-family: "Montserrat", Arial, sans-serif;
    color: #414141;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.38;
}

.review-text { 
    padding-top: 10px;
    padding-bottom: 15px;
}

.star-date {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
}

.date {
    padding-left: 10px;
}

// ReviewFrom //

.rating-select {
    display: flex;
    flex-direction: row;
}

.review-form [type="date"] {
    width: 35%;
    height: 50px;
    font-family: "Work Sans", Helvetica, sans-serif;
    padding: 8px;
    color: #808080;
    font-size: 14px;
    line-height: 1.38;
}

.review-form textarea {
    height: 200px;
    padding: 8px;
    font-family: "Work Sans", Helvetica, sans-serif;
    color: #808080;
    font-size: 14px;
    line-height: 1.38;
}

.text-input {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    cursor: text;
    width: 100%;
}


.review-form {
    width: 75%; 
    margin: auto
}

.write-review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    width: 188px;
    height: 40px;
    border-radius: 8px;
    margin: 35px auto;
    background-color: #468A13;
    border: 2px solid #468A13;
    color: white;
    font-family: "Montserrat", Arial, sans-serif;
}